.Modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(5, 5, 16, 0.16);
}

.Modal-container {
  width: 373px;
  height: 192px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 16px 8px 16px;
  display: flex;
  flex-direction: column;
}

.Modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
  color: #050510;
}

.Modal__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-left: calc(50% - 122px / 2 - 0.5px);
}

.Modal__cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #f7f7f8;
  border-radius: 12px;
  margin-left: auto;
  cursor: pointer;
}

.Modal__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.Modal__content .radio {
  height: 60px;
  display: flex;
  align-items: center;
}
.Modal__content .radio label {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
