:root {
  --strong-text-color: #050510;
  --mid-text-color: #55555C;
  --lite-text-color: #97979B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App {
  height: 100%;
  margin: 0 16px;
}